<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars Page</title>
</head>
<body>
<h1>Cars</h1>
<div>
    <table>
        <tr>
            <th>Model</th>
            <th>Series</th>
            <th>Volume</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getSeries()}"></td>
            <td th:text="${car.getVolume()}"></td>
        </tr>
    </table>
</div>
</body>
</html>